table.datos {
	width:500px;
}

table.datos th {
	text-align: left;
	font-weight:bold;
	font-size:11px;
	border-width: 0px 0px 3px 0px;
	border-style: solid;
	border-color: #EEE;
}
 
table.datos td {
	border-width: 0px 0px 1px 0px;
	border-style: solid;
	border-color: #EEE;
	text-align: left;
}
 
table.datos td.dato {
	width:300px;
}



table.formBD {
	width:500px;
}

table.formBD td {
	text-align: left;
}
 
table.formBD td.alias {
	width:200px;
}
table.formBD td.aliasLargo {
	width:300px;
}
table.formBD td.campo {
}

.licencia {
	border-width: 1px;
	border-style: solid;
	border-color: #CCC;
	padding: 10px;
  	width: 600px;
	height: 400px;
}
